<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>北京市</key>
	<string>101010100</string>
	<key>上海市</key>
	<string>101020100</string>
	<key>天津市</key>
	<string>101030100</string>
	<key>重庆市</key>
	<string>101040100</string>
	<key>哈尔滨市</key>
	<string>101050101</string>
	<key>沈阳市</key>
	<string>101070101</string>
	<key>长春市</key>
	<string>101060101</string>
	<key>呼和浩特市</key>
	<string>101080101</string>
	<key>石家庄市</key>
	<string>101090101</string>
	<key>太原市</key>
	<string>101100101</string>
	<key>济南市</key>
	<string>101120101</string>
	<key>乌鲁木齐市</key>
	<string>101130101</string>
	<key>西安市</key>
	<string>101110101</string>
	<key>拉萨市</key>
	<string>101140101</string>
	<key>西宁市</key>
	<string>101150101</string>
	<key>兰州市</key>
	<string>101160101</string>
	<key>郑州市</key>
	<string>101180101</string>
	<key>银川市</key>
	<string>101170101</string>
	<key>南京市</key>
	<string>101190101</string>
	<key>武汉市</key>
	<string>101200101</string>
	<key>合肥市</key>
	<string>101220101</string>
	<key>杭州市</key>
	<string>101210101</string>
	<key>福州市</key>
	<string>101230101</string>
	<key>南昌市</key>
	<string>101240101</string>
	<key>贵阳市</key>
	<string>101260101</string>
	<key>长沙市</key>
	<string>101250101</string>
	<key>成都市</key>
	<string>101270101</string>
	<key>广州市</key>
	<string>101280101</string>
	<key>昆明市</key>
	<string>101290101</string>
	<key>南宁市</key>
	<string>101300101</string>
	<key>海口市</key>
	<string>101310101</string>
	<key>香港市</key>
	<string>101320101</string>
	<key>澳门市</key>
	<string>101330101</string>
	<key>台北市</key>
	<string>101340102</string>
</dict>
</plist>
